@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Neuropolitical";
  src: url("../font/neuropolitical.ttf") format("truetype");
}

body {
  font-family: "Helvetica", sans-serif;
  max-width: 100vw;
  min-height: max-content;
  padding-bottom: 20%;
  background-color: white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f4f4;
}

/* Header */
.head {
  min-height: max-content;
  width: 100%;
  background-color: #2f2e41;
}

.goweb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.goweb p {
  font-family: "Neuropolitical", sans-serif;
  color: #2a86b2;
  font-size: 0.5rem;
  font-weight: lighter;
}

.goweb span {
  color: white;
}

.goweb img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.2rem;
}

.head .title {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2rem 0.5rem 2rem;
  color: white;
  font-size: 120%;
}

.nama {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 1%;
}

.nama p:nth-child(2) {
  margin-top: 1%;
}

.nama span {
  font-weight: bold;
}

.nama img {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.fakultas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  background-color: #3b46f1;
  color: white;
  width: 80%;
  font-size: 0.7rem;
  padding: 1rem;
  border-radius: 10px;
  transform: translateY(1.5rem);
}

.fakultas .item p:nth-child(2) {
  font-weight: bold;
}

/* Content */
.body {
  margin-top: 2.5rem;
  /* padding-bottom: 2rem; */
}

.pembayaran {
  max-width: 100%;
  background-color: white;
  padding: 5% 7.5%;
}

.pembayaran .title {
  width: 100%;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

/* No-Payment */
.informasi.no-payment {
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
  font-size: 1rem;
  padding: 0;
}

.informasi.no-payment img {
  width: 6rem;
  height: 6rem;
}

/*  */

.informasi {
  border: 1px solid #efebeb;
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.7rem;
}

.informasi .item.satu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informasi .item.satu.success {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.fa-circle-check {
  margin-right: 1rem;
}

.fa-circle-xmark {
  margin-right: 1rem;
}

.waktu {
  text-align: right;
  font-size: 0.5rem;
  color: #bfbfbf;
}

.waktu p:nth-child(2) {
  color: #ffcc71;
}

.informasi .garis {
  margin: 0.5rem 0;
  background-color: #efebeb;
  width: 100%;
  height: 1px;
}

.informasi .item.dua {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informasi .item.dua .status {
  color: #ffcc71;
  font-weight: bold;
  padding: 0.2rem;
  background-color: #fff5d9;
  border-radius: 5px;
  font-size: 0.5rem;
}

.item.dua .status.success {
  color: #31c48d;
  background-color: #ddfbee;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.item.dua .status.failed {
  color: #f98080;
  background-color: #fdf2f2;
  padding: 0.3rem 0.3rem;
}

.va p:first-child {
  font-weight: bold;
}

.va p:last-child {
  color: #cecece;
}

.informasi .item.tiga {
  margin: 0.5rem 0 0 0;
}

/* Failed */
.item.tiga.failed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item.tiga.failed a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #1979bd;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  font-size: 0.5rem;
}

.item.tiga.failed a:hover {
  background-color: #3086c4;
}

.informasi .item.tiga p:first-child {
  color: #9d9d9d;
  font-weight: 500;
}

.informasi .item.tiga p:last-child {
  font-weight: bold;
}

.menu-utama {
  max-width: 100%;
  background-color: white;
  padding: 5% 7.5% 5% 7.5%;
  margin-top: 1.5rem;
}

.menu-utama .isi {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  box-sizing: border-box;
}

.menu-utama .isi .item {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  min-height: max-content;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.isi a {
  text-decoration: none;
  color: black;
  transition: transform 0.2s;
}

.isi a:hover {
  transform: scale(1.05);
}

.isi a:visited {
  color: inherit;
}

.isi .item .text {
  box-sizing: border-box;
  max-width: 60%;
}

.isi .item .text p:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}

.isi .item .text p:last-child {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  color: #b3b3b3;
}

.isi .item img {
  box-sizing: border-box;
  max-width: 50%;
}

.menu-utama .title {
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

/* Slider Berita */
.slider {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #fff;
  padding: 20px 35px;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  width: 50px;
  height: 50px;
  z-index: 999;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 14px;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 3);
  gap: 16px;
  padding: 15px 20px;
  box-sizing: border-box;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 360px;
  padding: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.carousel .card:hover {
  transform: scale(1.05);
}

.card .image img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #6a6d78;
}

.card button {
  padding: 8px 16px;
  background-color: #068fff;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
}

/* news */
.news {
  background-color: white;
  padding: 3rem;
  margin-top: ;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 1rem;
}
.content {
}

.content .title {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: justify;
}
.content .garis {
  margin-top: 0.5rem;
  background-color: rgb(218, 218, 218);
  padding: 0.1px;
}
.content .post-date {
  margin-top: 1rem;
  font-size: small;
}
.more {
  text-align: center;
  background-color: white;
}
.more a {
  text-decoration: none;
  color: #068fff;
}
.more a:hover {
  color: rgb(101, 7, 101);
}

@media (min-width: 768px) {
  .news {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.btn-more a {
  align-items: end;
  text-decoration: none;
  background-color: #068FFF;
  border-radius: 10px;
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
}

.btn-more {
  display: flex;
  justify-content: end;
}

/* Bottom Bar */
.bar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: white;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.bar .item {
  box-sizing: border-box;
  text-align: center;
}

.bar .item p {
  font-weight: normal;
  margin-top: 5px;
}

.bar .item a {
  display: block;
  width: 100%;
  padding: 14px 0;
  font-size: 12px;
  text-decoration: none;
  color: #6b7280;
}

.bar .item a:hover {
  color: #1979bd;
}

.bar .item a:visited {
  color: inherit;
  text-decoration: none;
}

.bar .item a.active-bar {
  color: #1979bd;
}

/* Tablet */
@media (min-width: 768px) {
  .head .title {
    font-size: 1.5rem;
  }

  .nama {
    font-size: 1rem;
  }

  .fakultas {
    font-size: 1rem;
    width: 70%;
  }

  .pembayaran .title {
    font-size: 1.3rem;
  }

  .informasi {
    font-size: 1rem;
  }

  .waktu {
    font-size: 0.8rem;
  }

  .informasi .item.dua .status {
    font-size: 0.8rem;
    padding: 0.2rem 0.8rem;
  }

  .informasi .item.satu.success {
    font-size: 1.1rem;
    font-weight: bold;
  }

  /* Success */
  .item.dua .status.success {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  /* Failed */

  .item.dua .status.failed {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }

  .item.tiga.failed a {
    font-size: 0.75rem;
    padding: 0.5rem 1.5rem;
  }

  .menu-utama .title {
    font-size: 1.3rem;
  }

  .isi .item .text p:first-child {
    font-size: 1rem;
  }

  .isi .item .text p:last-child {
    font-size: 0.9rem;
  }

  .bar .item a {
    font-size: 1.1rem;
  }
}

/* Rsponsive News Slider */

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc(100% / 2);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
