/* PreLoader */
#preloader {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}

.preloader-page {
  font-family: "Neuropolitical", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  animation: preloader 2s ease;
}

.preloader-page img {
  width: 4rem;
  margin-bottom: 1rem;
}

.preloader-page p:nth-child(2) {
  color: #2a86b2;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.preloader-page p:nth-child(3) {
  color: black;
  font-size: 1rem;
  font-weight: lighter;
}

@keyframes preloader {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* Loader */
#loader {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.loader-page {
  width: 48px;
  height: 48px;
  border: 5px solid #6b7280;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
