* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica", sans-serif;
    background-color: bisque;
}

.container {
    width: 80%;
    background-color: #fff;
    margin: auto;
    height: 100%;
}

.container .header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0 20px;
    gap: 16px;
}

.hero {
    height: 300px;
    background-image: url(../img/news7.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-bottom: 5px solid salmon;
    border-top: 5px solid lightskyblue;
}

.container .main {
    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: start;
}

.main {
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}

.main .penulis {
    font-size: 12px;
    margin: 10px 0;
}

.main .penulis a {
    text-decoration: none;
}

.main p {
    font-size: 14px;
    margin: 20px 0;
}

.content .sidebar {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
}

.content .sidebar img {
    width: 75px;
    height: 75px;
}

.content .sidebar-content {

    display: flex;
    box-sizing: border-box;
    align-items: start;
    gap: 5px;
}

.footer {
    left: 0;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    color: white;
    text-align: center;

}


@media screen and (max-width:768px) {
    body {
        background-color: #fff;
    }

    .container {
        width: 100%;
        height: 100%;
    }


    .container .header h1 {
        font-size: 25px;
    }

    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0px;
        height: 200px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .container .main {
        width: 100%;
    }

    .container .content .main h2 {
        font-size: 20px;
    }

    .container .content .sidebar {
        width: 100%;
        box-sizing: border-box;
    }
}