<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pembayaran</title>
    <link rel="stylesheet" href="../../css/form_pembayaran_cicilan.css" />
    <link rel="stylesheet" href="../../css/loader.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="header-nav">
      <a href="../pembayaran/proses_pembayaran_cicilan.html">
        <i class="fa-solid fa-arrow-left fa" style="color: #ffffff"></i>
      </a>
      <p>Cicilan Biaya Pendaftaran Relawan</p>
    </div>

    <div class="header">
      <div class="header-profile">
        <div class="container-item">
          <div class="item">
            <p>Nama</p>
            <p>:</p>
            <p>Grisna Rahutomo</p>
          </div>
          <div class="item">
            <p>NIM</p>
            <p>:</p>
            <p>E221500040</p>
          </div>
          <div class="item">
            <p>Fakultas</p>
            <p>:</p>
            <p>STIA MADANI</p>
          </div>
          <div class="item">
            <p>Program Studi</p>
            <p>:</p>
            <p>Ilmu Administrasi Negara S1</p>
          </div>
          <div class="item">
            <p>Jenjang</p>
            <p>:</p>
            <p>S1</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-form">
        <h4>Form Data Cicilan Pembayaran Biaya Pendaftaran Relawan</h4>
        <br />
        <form action="" method="POST">
          <table>
            <tr>
              <td>Nama Pendaftaran</td>
            </tr>
            <tr>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Total yang harus dibayar</td>
            </tr>
            <tr>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Pembayaran Cicilan ke 1</td>
            </tr>
            <tr>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Pembayaran Cicilan ke 2</td>
            </tr>
            <tr>
              <td><input type="text" /></td>
            </tr>
            <tr>
              <td>Chanel Pembayaran</td>
            </tr>
            <tr>
              <td>
                <div class="select">
                  <select name="chanel_pembayaran" id="chanel_pembayaran">
                    <option value="">Silahkan Pilih</option>
                    <option value="">Bank</option>
                    <option value="">Dana</option>
                    <option value="">Gopay</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td><input type="submit" value="Bayar Sekarang" /></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div class="history">
      <div class="content-history">
        <h5>Histori Pembayaran</h5>
        <div class="history-item">
          <h6>Pembayaran Terakhir</h6>
          <div class="history-item-atas">
            <div class="detail">
              <p>Nomor Faktur</p>
              <p>Jenis Biaya</p>
              <p>Pembayaran</p>
              <p>Tgl. Bayar</p>
            </div>
            <div class="detail-value">
              <p>MDN-pbyr-2023022601241</p>
              <p>Biaya Pendaftaran Relawan Cicilan Ke 1</p>
              <p>Rp.1.000.000</p>
              <p>2023-2-25</p>
            </div>
          </div>
          <div class="history-item-bawah">
            <div class="total">
              <p>Total Bayar</p>
              <p>Jumlah yang sudah dibayar</p>
              <p>Kekurangan</p>
              <p>Status</p>
            </div>
            <div class="total-value">
              <p>Rp.1.560.000</p>
              <p>Rp.1.000.000</p>
              <p>Rp.560.000</p>
              <p><span>Belum Lunas</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../script/script.js"></script>
  </body>
</html>
