<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/menu_pembayaran.css" />
    <link rel="stylesheet" href="../../css/loader.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <title>Menu Pembayaran</title>
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>
    <div class="container">
      <div class="header">
        <div class="header-tittle">
          <img src="../../gambar/logo.png" alt="PT Arfin Goweb" />
          <p><span>Goweb</span>CMS</p>
        </div>
        <h5>Pembayaran</h5>
      </div>
      <div class="content">
        <div class="isi-content">
          <h5>Data Jenis Pembayaran Per Smester Relawan</h5>
          <div class="isi-content-item">
            <h5><i class="fa-solid fa-percent" style="color: #000"></i> Semester 1 -2022/2023</h5>
            <div class="isi-content-item-atas">
              <div class="item-keterangan">
                <p>Jumlah yang sudah dibayar</p>
                <p>Sisa Pembayaran</p>
                <p>Status Pembayaran</p>
              </div>
              <div class="item-value">
                <p>Rp.2.685.000</p>
                <p>Rp.0</p>
                <p style="color: rgb(0, 216, 0)">Lunas</p>
              </div>
            </div>
            <div class="isi-content-item-bawah">
              <div class="item-total">
                <h5>Total Bayar</h5>
                <p><b>Rp.2.685.000</b></p>
              </div>
              <div class="item-detail">
                <button onclick="window.location.href='./proses_pembayaran_cicilan.html'">Lihat detail</button>
              </div>
            </div>
          </div>
          <div class="isi-content-item">
            <h5><i class="fa-solid fa-percent" style="color: #000"></i> Semester 2 -2022/2023</h5>
            <div class="isi-content-item-atas">
              <div class="item-keterangan">
                <p>Jumlah yang sudah dibayar</p>
                <p>Sisa Pembayaran</p>
                <p>Status Pembayaran</p>
              </div>
              <div class="item-value">
                <p>Rp.2.685.000</p>
                <p>Rp.0</p>
                <p style="color: rgb(0, 216, 0)">Lunas</p>
              </div>
            </div>
            <div class="isi-content-item-bawah">
              <div class="item-total">
                <h5>Total Bayar</h5>
                <p><b>Rp.2.685.000</b></p>
              </div>
              <div class="item-detail">
                <button onclick="window.location.href='./proses_pembayaran_cicilan.html'">Lihat detail</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pembayaran-lainnya">
        <h5>Data Jenis Pembayaran Lainnya</h5>
        <div class="isi">
          <p style="font-size: 14px">Tidak ada pembayaran lainnya</p>
          <p style="color: #d7d7d7; font-size: 12px">Kamu tidak ada tagihan pembayaran selain pembayaran smester</p>
        </div>
      </div>

      <div class="harus-segera-dibayarkan">
        <div class="content">
          <h5>Harus Segera Dibayarkan</h5>
          <div class="isi-content">
            <div class="isi-content-atas">
              <div class="ket-atas">
                <p><b>Menunggu Pembayaran</b></p>
                <p>No. Virtual Account</p>
                <p>Status</p>
                <button class="copy-link-button">Salin No. VA</button>
              </div>
              <div class="value-atas">
                <p>4 Mar, 07:17</p>
                <input type="text"  class="copy-link-input" value="1747172470172094710" readonly>
                <p>Belum Lunas</p>
              </div>
            </div>
            <div class="isi-content-bawah">
              <div class="ket-bawah">
                <h5>Total Bayar</h5>
                <p><b>Rp.564.440</b></p>
              </div>
              <div class="value-bawah">
                <button>Cara Bayar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="history">
        <div class="content-history">
          <h5>Histori Pembayaran</h5>
          <div class="history-item">
            <h6>Pembayaran Terakhir</h6>
            <div class="history-item-atas">
              <div class="detail">
                <p>Nomor Faktur</p>
                <p>Jenis Biaya</p>
                <p>Pembayaran</p>
                <p>Tgl. Bayar</p>
              </div>
              <div class="detail-value">
                <p>MDN-pbyr-2023022601241</p>
                <p>Biaya Pendaftaran Relawan Cicilan Ke 1</p>
                <p>Rp.1.560.000</p>
                <p>2023-2-25</p>
              </div>
            </div>
            <div class="history-item-bawah">
              <div class="total">
                <p><b>Total Bayar</b></p>
                <p>Jumlah yang sudah dibayar</p>
                <p>Kekurangan</p>
                <p>Status</p>
              </div>
              <div class="total-value">
                <p>Rp.1.560.000</p>
                <p>Rp.1.560.000</p>
                <p>Rp.0</p>
                <p><span>Lunas</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom Bar -->
      <div class="bar">
        <div class="item">
          <a href="../Dashboard/no-payment.html" class="satu">
            <i class="fa-solid fa-chart-line fa-xl"></i>
            <p>Dashboard</p>
          </a>
        </div>
        <div class="item">
          <a href="../pembayaran/menu_pembayaran.html" class="dua active-bar">
            <i class="fa-solid fa-xl fa-credit-card"></i>
            <p>Pembayaran</p>
          </a>
        </div>
        <div class="item">
          <a href="../Detail KRS dan KHS/status-aktif.html" class="tiga">
            <i class="fa-solid fa-xl fa-file"></i>
            <p>KHS KRS</p>
          </a>
        </div>
        <div class="item">
          <a href="../Profile/index.html" class="empat">
            <i class="fa-solid fa-xl fa-user icon-user"></i>
            <p>Akun</p>
          </a>
        </div>
      </div>
    </div>
    <script src="../../script/script.js"></script>
    <script src="../../script/menuPembayaran.js"></script>
  </body>
</html>
