<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/review_pembayaran.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Review pembayaran</title>
</head>
<body>
    <div class="top">
        <div class="top-item">
            <i class="fa-solid fa-arrow-left fa-sm" style="color: #ffffff;"></i>
            <h5>Review Pembayaran</h5>
        </div>
    </div>

    <div class="content">
        <div class="ulasan">
            <h5>Ulasan Pembayaran</h5>
            <div class="ulasan-item">
                <div class="atas">
                    <div class="keterangan">
                        <p>Nama Pembayaran</p>
                        <p>Biaya Pembayaran Relawan Lunas</p>
                        <p>Biaya Transfer</p>
                    </div>
                    <div class="value"> 
                        <p>Jumlah yang akan dibayar</p>
                        <p>Rp.560.000</p>
                        <p>Rp.4.440</p>
                    </div>
                </div>
                <div class="bawah">
                    <div class="keterangan">
                        <p><b>Total Bayar</b></p>
                    </div>
                    <div class="value">
                        <p><b>Rp.564.440</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <a href="#">Bayar Sekarang</a>
            <a href="#">Pilih Ulang</a>
        </div>
    </div>
</body>
</html>