<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/summary_pembayaran_pendaftaran.css">
    <link rel="stylesheet" href="../../css/loader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Data Summary Pembayaran Pendaftaran</title>
</head>
<body>
    <!-- Loader -->
    <div id="loader">
        <div class="loader">
          <span class="loader-page"></span>
        </div>
      </div>

    <div class="modal-container" id="modalContainer">
        <div class="modal" id="modal">
            <h4>Panduan cara membayar bisa dibaca di bawah ini.</h4><br>

            <h5>Perhatian</h5>
            <p>Mohon selesaikan pembayaran sebelum 07 April 2023 11:24 Asia/Jakarta.
            Apabila melewati batas waktu, pembayaran Anda akan otomatis dibatalkan.</p><br>

            <h5>Cara pembayaran via ATM BRI</h5>
            <p>1. Pada menu utama, pilih <b>Transaksi Lain</b></p>
            <p>2. Pilih <b>Pembayaran</b></p>
            <p>3. pilih <b>Lainnya</b></p>
            <p>4. Pilih <b>BRIVA</b></p>
            <p>5. Masukan Nomor BRIVA <b>423990717273727870377</b> dan pilih Benar</p>
            <p>6. Jumlah pembayaran, nomor BRIVA dan nama merchant akan muncul
            pada halaman konfirmasi pembayaran. Jika informasi yang dicantumkan benar, pilih Ya
            </p>
            <p>7. Pembayaran telah selesai. Simpan bukti pembayaran Anda.</p><br>

            <h5>Cara pembayaran via Internet Banking BRI</h5>
            <p>1. Masuk pada Internet Banking BRI</p>
            <p>2. Pilih menu <b>Pembayaran dan Pembelian</b></p>
            <p>3. Pilih submenu <b>BRIVA</b></p>
            <p>4. Masukan Nomor BRIVA <b>439633580904868098</b></p>
            <p>5. Jumlah pembayaran, nomor BRIVA dan nama merchant akan muncul
                pada halaman konfirmasi pembayaran. Jika informasi yang dicantumkan benar, pilih Ya
            </p>
            <p>6. Masukan <b>password</b> dan <b>mToken</b>, pilih <b>Kirim</b></p>
            <p>Pembayaran telah selesai. untuk mencetak bukti transaksi pilih <b>Cetak</b></p> <br>

            <h5>Cara pembayaran via BRI Mobile</h5>
            <p>1. Masuk ke dalam aplikasi <b>BRI Mobile</b>, pilih <b>Mobile Banking BRI</b></p>
            <p>2. Pilih <b>Pembayaran</b> lalu pilih <b>BRIVA</b></p>
            <p>3. Masukan Nomor BRIVA <b>423990717273727870377</b> </p>
            <p>
                4. Jumlah pembayaran, nomor BRIVA dan nama merchant akan muncul
                pada halaman konfirmasi pembayaran. Jika informasi yang dicantumkan benar, pilih <b>Continue</b>
            </p>
            <p>5. masukan Mobile Banking BRI PIN, pilih <b>OK</b></p>
            <p>6. Pembayaran telah selesai.SImpan notifikasi sebagai bukti pembayaran.</p><br>

            <h5>Internet Banking Lain</h5>
            <p>1. Login keInternet Banking Anda</p>
            <p>2. Pilih menu Transfer ke Bank Lain Online</p>
            <p>3. Pilih bank tujuan > BRI</p>
            <p>4. Masukan nomor Virtual Account Anda <b>423990717273727870377</b></p>
            <p>5. Jika ada pilihan jenis/metode trasnfer, <b>pilih yang REALTIME ONLINE (Biaya Rp. 6.500) 
            WAJIB PILIH METODE PEMBAYARAN TERSEBUT.</b> Jika tidak maka pembayaran akan <b>GAGAL</b></p>
            <p>6. Masukan jumlah amount sesuai tagihan <b>(INGAT NOMINAL HARUS SAMA PERSIS SESUAI TAGIHAN DI ATAS)</b></p>
            <p>7. Ikuti instruksi untuk menyelesaikan transkasi</p><br><br>


        </div>
    </div>
    <div class="header">
        <div class="header-nav">
            <i class="fa-solid fa-arrow-left fa-sm" style="color: #ffffff;"></i>
            <p>Data Pembayaran Pendaftaran Relawan </p>
        </div>
        <div class="header-profile">
            <div class="container-item">
                <div class="item">
                    <p>Nama</p>
                    <p>:</p>
                    <p>Grisna Rahutomo</p>
                </div>
                <div class="item">
                    <p>NIM</p>
                    <p>:</p>
                    <p>E221500040</p>
                </div>
                <div class="item">
                    <p>Fakultas</p>
                    <p>:</p>
                    <p>STIA MADANI</p>
                </div>
                <div class="item">
                    <p>Program Studi</p>
                    <p>:</p>
                    <p>Ilmu Administrasi Negara S1</p>
                </div>
                <div class="item">
                    <p>Jenjang</p>
                    <p>:</p>
                    <p>S1</p>
                </div>
            </div>
        </div>
    </div>
    <div class="peringatan">
        <div class="peringatan-item">
            <p><b>Peringatan, Jangan Melanjutkan Pembayaran Lewat Halaman Ini Jika Data Pembayaran Terakhir Tidak Sesuai</b></p>
            <p>Jika jumlah yang sudah Anda bayar atau kekurangan pembayaran tidak sesuai dengan pembayaran terakhir Anda. <b>Silahkan Hubungi Bagian Keuangan, Agar Melakukan Perubahan Data</b></p>
        </div>
    </div>

    <div class="data-pembayaran">
        <h5>Data pembayaran yang harus segera Anda bayar</h5>
            <div class="content-box">
                <h5 style="color: #979797;">Detail Pembayaran</h5>
                <div class="atas">
                    <div class="keterangan">
                        <p>Order</p>
                        <p>Waktu dan Tgl. Order</p>
                        <p>Status Order</p>
                        <p>Total Bayar</p>
                        <p>Cek Email</p>
                    </div>
                    <div class="value">
                        <p>2023040300001</p>
                        <p>2023-04-03 11:24</p>
                        <p class="sukses">Menunggu pembayaran</p>
                        <p>Rp.564.440</p>
                        <p>Kami juga mengirimkan invoice dan cara pembayaran ke email g.rahutomo@gmail.com. Silahkan cek di inbox email tersebut !!!</p>
                    </div>
                </div>
            </div>
        <p style="font-size: 12px;">Untuk panduan cara pembayaran, <a href="#modalContainer" data-target="#modalContainer" id="open" style="text-decoration: none;">klik disini</a></p>
    </div>
    <div class="detail-pembayaran">
            <div class="content-box">
                <h5 style="color: #979797;">Detail pembayaran yang akan dibayar</h5>
                <div class="atas">
                    <div class="keterangan">
                        <p>Nama Pembayaran</p>
                        <p>Biaya Pendaftaran Relawan LUNAS</p>
                        <p>Biaya Transfer</p>
                    </div>
                    <div class="value">
                        <p>Biaya(Rp)</p>
                        <p>Rp.560.000</p>
                        <p>Rp.4.440</p>
                    </div>
                </div>
                <div class="bawah">
                    <div class="keterangan">
                        <h5 style="color: #979797;">Total Bayar</h5>
                    </div>
                    <div class="value">
                        <h5>Rp.564.440</h5>
                    </div>
                </div>
            </div>
            <button onclick="window.location.href='./review_pembayaran.html'">Batalkan Pembayaran</button>
        </div>

        <script src="../../script/modal.js"></script>
        <script src="../../script/script.js"></script>
</body>

</html>