<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifikasi</title>
    <link rel="stylesheet" href="../../css/notif.css" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="header">
      <a href="../Dashboard/index.html">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <p>Notifikasi</p>
    </div>
    <!-- content -->
    <div class="content1">
      <a href="#Notifikasi">
        <div class="content2">
          <p class="title">Notifikasi</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus dolores eius tenetur.</p>
        </div>
      </a>
      <a href="#Notifikasi">
        <div class="content2">
          <p class="title">Notifikasi</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus dolores eius tenetur.</p>
        </div>
      </a>
      <a href="#Notifikasi">
        <div class="content2">
          <p class="title">Notifikasi</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus dolores eius tenetur.</p>
        </div>
      </a>
      <a href="#Notifikasi">
        <div class="content2">
          <p class="title">Notifikasi</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus dolores eius tenetur.</p>
        </div>
      </a>
    </div>
  </body>
</html>
