<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Berita</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/dashboard.css" />
  </head>
  <body>
    <!-- Slider Berita -->
    <div class="slider">
      <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="carousel">
          <li class="card">
            <div class="image"><img src="../../img/news1.jpg" alt="img" draggable="false" /></div>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus est tenetur veniam qui!</h2>
            <p class="deskripsi">Berita mengenai wisuda Universitas Jenderal...</p>
            <button class="button">Lihat</button>
          </li>
          <li class="card">
            <div class="image"><img src="../../img/news2.jpg" alt="img" draggable="false" /></div>
            <h2>Jadwal Ujian Akhir Smester Genap Tahun Ajaran 2022/2023</h2>
            <p class="deskripsi">Jadwal lengkap ujian akhir smester...</p>
            <button class="button">Lihat</button>
          </li>
          <li class="card">
            <div class="image"><img src="../../img/news3.jpg" alt="img" draggable="false" /></div>
            <h2>Perpustakaan Menerima Bantuan Buku Dari Bank BRI</h2>
            <p class="deskripsi">Perpustakaan memiliki daftar buku baru setelah...</p>
            <button class="button">Lihat</button>
          </li>
          <li class="card">
            <div class="image"><img src="../../img/news4.jpg" alt="img" draggable="false" /></div>
            <h2>Kalender Akademik Smester Ganjil Tahun Ajaran 2023/2024</h2>
            <p class="deskripsi">Kalender akademik smester ganjil tahun ajaran 2023/2024...</p>
            <button class="button">Lihat</button>
          </li>
          <li class="card">
            <div class="image"><img src="../../img/news5.jpg" alt="img" draggable="false" /></div>
            <h2>Tips Mengerjakan Skripsi Lebih Cepat Bagi Mahasiswa Smester Akhir</h2>
            <p class="deskripsi">Cara mempermudah proses belajar bagi mahasiswa...</p>
            <button class="button">Lihat</button>
          </li>
          <li class="card">
            <div class="image"><img src="../../img/news3.jpg" alt="img" draggable="false" /></div>
            <h2>Tips Belajar Lebih Mudah Pada Saat Ujian Bagi Mahasiswa</h2>
            <p class="deskripsi">Cara mempermudah proses belajar bagi mahasiswa...</p>
            <button class="button">Lihat</button>
          </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
    </div>

    <div class="news">
      <div class="content">
        <a href="" class="title">
          <p>Wisuda Ke-160 Periode Agustus Universitas Jenderal Soedirman</p>
        </a>
        <p class="post-date">21 Juli 2023</p>
        <div class="garis"></div>
      </div>
      <div class="content">
        <a href="" class="title">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus est tenetur veniam qui!</p>
        </a>
        <p class="post-date">21 Juli 2023</p>
        <div class="garis"></div>
      </div>
      <div class="content">
        <a href="" class="title">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus est tenetur veniam qui!</p>
        </a>
        <p class="post-date">21 Juli 2023</p>
        <div class="garis"></div>
      </div>
    </div>
  </body>
</html>
