<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berita</title>
    <link rel="stylesheet" href="../../css/viewBerita.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="../../view/Dashboard/no-payment.html"><i class="fa-solid fa-arrow-left fa-xl" style="color: #000000"></i></a>
        <h1 class="judul">Jadwal Wisuda Periode Bulan Agustus Universitas Jenderal Soedirman</h1>
      </div>
      <div class="hero"></div>
      <div class="content">
        <div class="main">
          <h2>Jadwal Wisuda Periode Bulan Agustus Universitas Jenderal Soedirman</h2>
          <p class="penulis">ditulis oleh <a href="#">Naufal Azizi</a> pada 24 Juli 2023</p>

          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero animi eum fuga suscipit architecto molestiae quae iusto eveniet enim adipisci error qui voluptatibus nesciunt vel deleniti, temporibus a perspiciatis! Impedit
            fugiat quaerat dolor ex, accusamus consequuntur. Pariatur quisquam laboriosam consequatur necessitatibus libero provident officia adipisci perspiciatis reiciendis! Quia, iste minima.
          </p>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro ipsa asperiores voluptatum odio similique dignissimos, aut excepturi. Odit beatae repudiandae repellat officia neque! Quaerat, quod. Harum impedit aperiam
            temporibus recusandae aut quidem esse doloribus sunt corporis fugiat itaque voluptatibus quas sequi autem repellendus, dignissimos error laboriosam molestiae ullam iusto beatae veniam! Maxime quia, suscipit expedita voluptate
            cumque labore nisi voluptatibus officia at non architecto tempore possimus harum ad laboriosam aliquam? Ab saepe magnam excepturi vel odit, totam temporibus ex esse, error cupiditate quisquam et inventore aspernatur ratione
            distinctio, ipsa quo at quibusdam ducimus architecto a voluptate fugiat natus. Non, culpa.
          </p>

          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, labore? Ut, odio! Excepturi soluta velit blanditiis quas fugit quos incidunt hic vitae adipisci sed dolor consectetur, aspernatur quaerat quisquam cum
            provident fuga laboriosam doloremque temporibus id quae odio. Officiis, expedita debitis placeat ad minus esse odio eos? Beatae, culpa illo. Omnis, dolore? Voluptatum, adipisci voluptatibus ipsum porro id saepe accusantium?
            Minus esse aperiam laudantium neque totam, quisquam, dolores, quis vitae mollitia porro fuga nihil repellat id hic facere in autem?
          </p>
        </div>
        <div class="sidebar">
          <h3>Tentang Penulis</h3>
          <div class="sidebar-content">
            <img src="../../img/people-1.png" alt="Penulis" />
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, obcaecati!</p>
          </div>
        </div>
      </div>
      <footer></footer>
      <div class="footer">
        <p>Copyright 2023. PT. Arfin Goweb Indonesia</p>
      </div>
    </div>
  </body>
</html>
