<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/login-2-fix.css" />
    <title>Login - 2</title>
  </head>
  <body>
    <!-- Alert -->
    <div class="modal">
      <div class="alert success">
        <p>Login Success, redirect to dashboard</p>
      </div>
      <div class="alert failed">
        <p>Oops, Login failed</p>
        <p>Username or password didn't correctly</p>
      </div>
    </div>

    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <!-- Container -->
    <div class="container">
      <!-- Header -->
      <div class="head">
        <img src="../../img/login-2.png" alt="" />
        <div class="head-tulisan">
          <p>Welcome to</p>
          <p>Software Kampus.</p>
          <p>Login to your account</p>
        </div>
      </div>

      <!-- Form -->
      <div class="form">
        <form action="">
          <p class="label">Username</p>
          <input type="text" name="username" placeholder="Input your username" required />

          <p class="label">Password</p>
          <input type="password" name="password" placeholder="Input your password" required />

          <div class="tombol">
            <button type="submit">
              <p>Login</p>
              <div class="circle"></div>
            </button>
          </div>

          <div class="btn-forgot">
            <a href="../Dashboard/no-payment.html">Forgot password</a>
          </div>
        </form>
      </div>

      <!-- Made -->
      <div class="made">
        <p class="with">Made with love for</p>
        <div class="unu">
          <img src="../../img/logo-unu.png" alt="" />
          <div class="unu-text">
            <p>Universitas Nahdalatul Ulama</p>
            <p>Surakarta</p>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="footer">
        <img src="../../img/logo-pt.png" alt="" />
        <p>Support by PT Arfin Goweb Indonesia</p>
      </div>
    </div>

    <script src="../../script/script.js"></script>
  </body>
</html>
