<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Login</title>
    <link rel="stylesheet" href="../css/login1.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div>
          <i class="fa-sharp fa-solid fa-arrow-left fa-lg" style="color: #000000"></i>
        </div>
        <div>
          <img src="../img/logo4.png" alt="" />
        </div>
      </div>
      <div class="content">
        <div class="title">
          <div>Login for your</div>
          <div>account.</div>
        </div>
        <div>
          <form action="/">
            <div class="form">
              <div>Username</div>
              <input type="text" name="username" placeholder="input your username..." />

              <div>Password</div>
              <input type="password" name="password" id="" placeholder="input your password..." />
              <input type="submit" value="Login" />
              <a href="/">
              <p>Forgot Password</p>
              </a>
            </div>
          </form>
        </div>
         <!-- Alert -->
        <div class="modal">
        <div class="alert success">
          <p>Login Success, redirect to dashboard</p>
        </div>
        <div class="alert failed">
          <p>Oops, Login failed</p>
          <p>Username or password didn't correctly</p>
        </div>
      </div>

        <div class="made">
          <p>Made With love for</p>
          <div class="unu">
              <img src="../img/logo2.jpg" alt="" />
              <div class="teks">
                  <div>Universitas Nahdlatul Ulama</div>
                  <div>Surakarta</div>
                </div>
            </div>
        </div>
    

      <div class="footer">
        <p>Support by PT Arfin Goweb Indonesia</p>
      </div>
    </div>
  </body>
</html>
