<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/welcome.css" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <title>Halaman Welcome</title>
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <div class="header">
        <div>
          <img src="../../img/logo-pt.png" alt="" />
        </div>
      </div>
      <div class="title">
        <div>Welcome to</div>
        <div>Software Kampus</div>
      </div>
      <div class="content">
        <div>Academic Platform For Your Campus in</div>
        <div>Academic Administration Management</div>
        <div>To Be Neat, Easy, Time and Energy</div>
        <div>Efficient</div>
      </div>
      <div class="btn">
        <div>
          <a href="./login1.html">
            <button>Go to Login</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
