<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Edit Profile</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/alamat.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script></script>
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="container">
      <!-- Header -->
      <div class="header">
        <a href="../editprofile/bio-mhs.html">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <p>Informasi Alamat</p>
      </div>

      <div class="body">
        <!-- Nav -->
        <div class="nav">
          <i class="fa-solid fa-user active"></i>
          <div class="line active"></div>
          <i class="fa-solid fa-location-dot active"></i>
          <div class="line active"></div>
          <i class="fa-solid fa-user-group"></i>
          <div class="line"></div>
          <i class="fa-regular fa-file"></i>
        </div>
        <!-- content -->
        <div>
          <form action="/">
            <div class="infoalamat">
              <p class="teks1">Informasi alamat</p>
              <div>
                <p class="teks2">Jalan</p>
                <input type="text" name="" id="" placeholder="" value="" />
              </div>
              <div class="rt">
                <p class="teks2">RT</p>
                <input type="text" name="" id="" placeholder="" class="inputrt" />
                <p class="teks2">RW</p>
                <input type="text" name="" id="" class="inputrt" />
              </div>
              <div>
                <p class="teks2">Nama Desa</p>
                <input type="text" name="nama_desa" id="" placeholder="" value="" />
              </div>
              <div>
                <p class="teks2">Nama Kelurahan</p>
                <input type="text" name="" id="" class="teks2" placeholder="" value="" />
              </div>
              <div>
                <p class="teks2">Provinsi</p>
                <select name="provinsi" id="">
                  <option value="Jawa Tengah" selected>Jawa Tengah</option>
                  <option value="">Jawa Timur</option>
                  <option value="">Jawa Barat</option>
                  <option value="">Daerah Istimewa Yogyakarta</option>
                  <option value="">DKI Jakarta</option>
                  <option value="">Banten</option>
                </select>
              </div>
              <div>
                <p class="teks2">Kabupaten/Kota</p>
                <select name="kabupaten" id="">
                  <option value="" selected>Kab. Klaten</option>
                  <option value="">Kab. Banyumas</option>
                  <option value="">Kab. Tegal</option>
                </select>
              </div>
              <div>
                <p class="teks2">Kecamatan</p>
                <select name="kecamatan" id="">
                  <option value="" selected>Kec. Trucuk</option>
                  <option value="">Kec. Kalimanah</option>
                  <option value="">Kec. Baturraden</option>
                </select>
              </div>
              <div>
                <p class="teks2">Kode Pos</p>
                <input type="text" name="kodepos" id="" />
                <p class="teks3">Kode pos tidak asal ketik, jika tidak tahu dikosongkan saja</p>
              </div>
              <div>
                <p class="teks2">Asal Negara</p>
                <select name="negara" id="">
                  <option value="" selected>Indonesia</option>
                  <option value="">Australia</option>
                  <option value="">Singapura</option>
                  <option value="">Laos</option>
                  <option value="">Inggris</option>
                </select>
              </div>
              <div>
                <p class="teks2">Jenis Tinggal</p>
                <select name="" id="">
                  <option value="" selected>Bersama Orang Tua</option>
                  <option value="">Sendiri</option>
                  <option value="">Bersama Wali</option>
                </select>
              </div>
              <div>
                <p class="teks2">Telp Rumah</p>
                <input type="tel" name="phone" id="" placeholder="" value="" />
                <p class="teks3">Hanya boleh input dengan angka</p>
              </div>
            </div>
          </form>
          <!-- footer -->
          <div class="footer">
            <a href="../editprofile/info-ortu.html" class="button"> Next step: Informasi Alamat </a>
          </div>
        </div>
      </div>
    </div>

    <script src="../../script/script.js"></script>
  </body>
</html>
