<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Edit Profile</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="..//css/biomhs.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="header">
        <a href="">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <p>Edit Biodata Mahasiswa</p>
      </div>

      <!-- body/content-->
      <div class="body">
        
          <!-- Nav -->
          <div class="nav">
            <i class="fa-solid fa-user"></i>
            <div class="line"></div>
            <i class="fa-solid fa-location-dot"></i>
            <div class="line"></div>
            <i class="fa-solid fa-user-group"></i>
            <div class="line"></div>
            <i class="fa-regular fa-file"></i>
          </div>

          <!-- Content -->
          <div class="">
            <form action="/">
              <div class="infologin">
                <div>
                  <p class="teks1">Informasi login</p>
                  <div>
                    <p class="teks2">Email</p>
                    <input type="email" name="email" id="" placeholder="" value="g.rahhutomo@gmail.com" />
                  </div>
                  <div>
                    <p class="teks2">Nomor HP</p>
                    <input type="no_hp" name="no_hp" id="" placeholder="" value="081329605062" />
                  </div>
                  <p class="teks3">Hanya boleh input angka dan wajib terhubung ke whatsapp</p>
                </div>
              </div>
            
             
            </form>
          </div>
           <!-- footer -->
        </div>
        <div class="body">
            <div class="datdirmhs">
                <p class="teks1">Data Diri Mahasiswa</p>
                <div>
                  <p class="teks2">Nama Lengkap</p>
                  <input type="text" name="" id="" placeholder="" value="Grisna Rahhutomo" />
                </div>
                <div>
                  <p class="teks2">NIM</p>
                  <input type="text" name="" id="" placeholder="" value="E221500040" />
                </div>
                <div>
                  <p class="teks2">NISN</p>
                  <input type="text" name="" id="" placeholder="" value="9965988059" />
                </div>
                <div>
                  <p class="teks2">Nomor KTP/NIK</p>
                  <input type="text" name="" id="" placeholder="" value="3310061508960003" />
                  <p class="teks3">Minimal 18 Digit (hanya angka)</p>
                </div>
                <div>
                  <p class="teks2">Tempat Lahir</p>
                  <input type="text" name="" id="" placeholder="" value="Klaten" />
                </div>
                <div>
                  <p class="teks2">Tanggal Lahir</p>
                  <input type="date" name="" id="" placeholder="" value="" />
                </div>
                <div>
                  <p class="teks2">Jenis Kelamin</p>
                  <select name="Jenis Kelamin" id="" class="input">
                    <option value="Laki-laki" selected>Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>
                </div>
                <div>
                  <p class="teks2">Agama</p>
                  <select name="agama" id="">
                    <option value="Islam" selected>Islam</option>
                    <option value="Hindu">Hindu</option>
                    <option value="Budha">Budha</option>
                    <option value="Kristen">Kristen</option>
                    <option value="Konghucu">Konghucu</option>
                  </select>
                </div>
              </div>
        </div>
        <div class="footer">
        <a href="../editprofile/alamat.html" class="button">       
          Next step: Informasi Alamat
        </a>
      </div>
  </body>
</html>
