<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Edit Profile</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/info-ortu.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script></script>
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="container">
      <!-- Header -->
      <div class="header">
        <a href="../editprofile/alamat.html">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <p>Informasi Orang Tua</p>
      </div>

      <!-- body/content-->
      <div class="body">
        <!-- Nav -->
        <div class="nav">
          <i class="fa-solid fa-user active"></i>
          <div class="line active"></div>
          <i class="fa-solid fa-location-dot active"></i>
          <div class="line active"></div>
          <i class="fa-solid fa-user-group active"></i>
          <div class="line active"></div>
          <i class="fa-regular fa-file"></i>
        </div>

        <form action="">
          <div class="infoortu">
            <div>
              <p class="teks1">Informasi Orang Tua / Ayah</p>
              <p for="" class="teks2">Nama Ayah</p>
              <input type="text" name="ayah" placeholder="" value="" />
              <p for="" class="teks2">NIK/No. KTP Ayah</p>
              <input type="text" name="" id="" placeholder="" value="" />
              <p for="" class="teks2">Tanggal Lahir Ayah</p>
              <input type="date" name="" id="" value="" style="color: gray; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" />
              <p for="" class="teks2">Pendidikan</p>
              <select name="pendidikan" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Sekolah Dasar</option>
                <option value="">Sekolah Menengah Pertama</option>
                <option value="">Sekolah Menengah Atas</option>
                <option value="">Diploma 1 (D1)</option>
                <option value="">Diploma 2 (D2)</option>
                <option value="">Diploma 3 (D3)</option>
                <option value="">Diploma 4 (D4)</option>
                <option value="">Strata 1 (S1)</option>
                <option value="">Strata 2 (S2)</option>
                <option value="">Strata 3 (S3)</option>
              </select>
              <p for="" class="teks2">Pekerjaan Ayah</p>
              <select name="pekerjaan" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Guru</option>
                <option value="">Dosen</option>
                <option value="">Wiraswasta</option>
                <option value="">Petani</option>
              </select>
              <p for="" class="teks2">Penghasilan Ayah</p>
              <select name="" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Rp 500.000</option>
                <option value="">> Rp1.000.000</option>
                <option value="">Rp 1.000.000 - Rp 5.000.000</option>
                <option value="">> Rp 5.000.000</option>
              </select>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="infoortu">
            <div>
              <p class="teks1">Informasi Orang Tua / Ibu</p>
              <p for="" class="teks2">Nama Ibu</p>
              <input type="text" name="Ibu" placeholder="" value="" />
              <p for="" class="teks2">NIK/No. KTP Ibu</p>
              <input type="text" name="" id="" placeholder="" value="" />
              <p for="" class="teks2">Tanggal Lahir Ibu</p>
              <input type="date" name="" id="" value="" style="color: gray; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" />
              <p for="" class="teks2">Pendidikan</p>
              <select name="pendidikan" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Sekolah Dasar</option>
                <option value="">Sekolah Menengah Pertama</option>
                <option value="">Sekolah Menengah Atas</option>
                <option value="">Diploma 1 (D1)</option>
                <option value="">Diploma 2 (D2)</option>
                <option value="">Diploma 3 (D3)</option>
                <option value="">Diploma 4 (D4)</option>
                <option value="">Strata 1 (S1)</option>
                <option value="">Strata 2 (S2)</option>
                <option value="">Strata 3 (S3)</option>
              </select>
              <p for="" class="teks2">Pekerjaan Ibu</p>
              <select name="pekerjaan" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Guru</option>
                <option value="">Dosen</option>
                <option value="">Wiraswasta</option>
                <option value="">Petani</option>
              </select>
              <p for="" class="teks2">Penghasilan Ibu</p>
              <select name="" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Rp 500.000</option>
                <option value="">> Rp1.000.000</option>
                <option value="">Rp 1.000.000 - Rp 5.000.000</option>
                <option value="">> Rp 5.000.000</option>
              </select>
            </div>
          </div>
        </div>

        <div class="body"> 
          <div class="infoortu">
            <div>
              <p class="teks1">Informasi Orang Tua / Ayah</p>
              <p for="" class="teks2">Nama Ayah</p>
              <input type="text" name="ayah" placeholder="" value="" />
              <p for="" class="teks2">NIK/No. KTP Ayah</p>
              <input type="text" name="" id="" placeholder="" value="" />
              <p for="" class="teks2">Tanggal Lahir Ayah</p>
              <input type="date" name="" id="" value="" style="color: gray; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" />
              <p for="" class="teks2">Pendidikan</p>
              <select name="pendidikan" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Sekolah Dasar</option>
                <option value="">Sekolah Menengah Pertama</option>
                <option value="">Sekolah Menengah Atas</option>
                <option value="">Diploma 1 (D1)</option>
                <option value="">Diploma 2 (D2)</option>
                <option value="">Diploma 3 (D3)</option>
                <option value="">Diploma 4 (D4)</option>
                <option value="">Strata 1 (S1)</option>
                <option value="">Strata 2 (S2)</option>
                <option value="">Strata 3 (S3)</option>
              </select>
              <p for="" class="teks2">Pekerjaan Ayah</p>
              <select name="pekerjaan" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Guru</option>
                <option value="">Dosen</option>
                <option value="">Wiraswasta</option>
                <option value="">Petani</option>
              </select>
              <p for="" class="teks2">Penghasilan Ayah</p>
              <select name="" id="">
                <option value="" selected>Silahkan Pilih</option>
                <option value="">Rp 500.000</option>
                <option value="">> Rp1.000.000</option>
                <option value="">Rp 1.000.000 - Rp 5.000.000</option>
                <option value="">> Rp 5.000.000</option>
              </select>
            </div>
          </div>
          
        </div>
        
      </form>
      <!-- footer -->
    <div class="footer">
      <a href="../editprofile/info-prodi.html" class="button"> Next step: Informasi Alamat </a>
    </div>
    </div>

    <script src="../../script/script.js"></script>
  </body>
</html>
