<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Edit Profile</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/prodi.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="container">
      <!-- Header -->
      <div class="header">
        <a href="../editprofile/info-ortu.html">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <p>Informasi Program Studi</p>
      </div>

      <!-- body/content-->
      <div class="body">
        <!-- Nav -->
        <div class="nav">
          <i class="fa-solid fa-user"></i>
          <div class="line"></div>
          <i class="fa-solid fa-location-dot"></i>
          <div class="line"></div>
          <i class="fa-solid fa-user-group"></i>
          <div class="line"></div>
          <i class="fa-regular fa-file"></i>
        </div>

        <!-- alert -->
        <!-- <div>
          <div class="alert" id="id01">
            <p>Succes, data is successifully modified</p>
          
        </div> -->

        <!-- content -->
        <form action="/">
          <div class="infoprodi">
            <div>
              <p class="teks1">Pilihan Program Studi</p>
              <p for="" class="teks2">Jenis Pendaftaran</p>
              <select name="jenis_pendaftaran" id="">
                <option value="" selected>Peserta Didik Baru</option>
              </select>
              <p for="" class="teks2">Jenis Pembayaran</p>
              <select name="" id="">
                <option value="" selected>Mandiri</option>
                <option value="">BRI</option>
                <option value="">BNI</option>
                <option value="">BCA</option>
              </select>
              <p for="" class="teks2">Pendidikan Sebelumnya</p>
              <select name="" id="">
                <option value="" selected>SMK</option>
                <option value="">SMA</option>
                <option value="">MA</option>
              </select>
              <p for="" class="teks2">Fakultas</p>
              <select name="" id="">
                <option value="">STIA Madani</option>
              </select>
              <p for="" class="teks2">Prodi</p>
              <select name="" id="">
                <option value="" selected>Ilmu Administrasi Negara S1</option>
              </select>
              <p for="" class="teks2">Status Keaktifan</p>
              <select name="" id="">
                <option value="">Mahasiswa Baru</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="body">
        <div class="infobeasiswa">
          <div>
            <p class="teks1">Informasi Beasiswa</p>
            <p for="" class="teks2">Status Keaktifan</p>
            <select name="status_keaktifan" id="">
              <option value="">Aktif</option>
              <option value="" selected>Tidak</option>
            </select>
            <p for="" class="teks2">No.KIP</p>
            <input type="text" name="" id="" />
          </div>
        </div>
      </div>
      <!-- footer -->
      <div class="footer">
        <input type="submit" value="Simpan Semua Data"></input>
      </div>
    </div>

    <script src="../../script/script.js"></script>
  </body>
</html>
